.ul{
    display:inline-block;
    background:linear-gradient(white,grey);
    width: 100%;
    margin:0px;
    margin-bottom:5px;
    border:5px ridge white;
    border-radius:10px;
    outline: 2px solid black;
}
.ul>li{
    padding:10px;
    display:inline-block;
    list-style-type: none;
    transition:transform 0.5s;

}
ul>li>a{
    color:#312D2F;
}
img{
    margin:0px;
    margin-right:5px;
}
.ul>li:hover{
    box-shadow:1px 1px 2px #40A1DF;
    background-color: white;
    border-radius: 10px;
    transform:rotate(360deg);
}
.ul>li>a{
    text-decoration: none;
    font-family:"Comic Sans MS",sans-serif;
}
ul{
    padding:0px;
}
#corner{
    float:right;
}


.side{
    background:linear-gradient(grey,#B9CCCD,powderblue);
    margin:0px;
    height:580px;
    width:20%;
    border:5px ridge white;
    border-radius:20px;
    outline: 2px ridge #4C4A4A;


}
.side>li{
    padding:10px;
    padding-left:0px;
    list-style-type: none;
    text-align: center;
    font-family:"Comic Sans MS",sans-serif;
}
.side>li:hover{
    border-radius: 10px;
    font-style:oblique;
    box-shadow:1px 1px 2px #40A1DF;
    background:linear-gradient(white,grey);
}
.side>li>a{
    text-decoration: none;
}